doctype html
html
  head
    title Hello
    link(rel='stylesheet', href='/style.css')
  body
    nav.nav
      ul
        each item in utils.menu
          li
            a(href=item.slug)
              i(class=`fas ${item.icon}`)
              p #{item.caption}
      .nav__user
        if user
          a(href='/logout') logout
          p hi #{user.name}
        else
          a(href='/register') register
          a(href='/login') log in


  .site
    block site

  pre #{user && JSON.stringify(user)}

  script(src="https://kit.fontawesome.com/f0b3245525.js" crossorigin="anonymous")
  script(src="/bundle.js")
