extends index

block site
  form(action=`/${meal ? 'edit-meal' : 'add-meal'}/${restaurantId}` method="POST" enctype="multipart/form-data" class="form")
    .form__group
      label(for="name") Name
      input(type="text" id="name" name="name" value=(meal && meal.name) )
    .form__group
      label(for="price") Price
      input(type="number" id="price" name="price" step="any" value=(meal && meal.price))
    .form__group
      label(for="photo") Photo
      input(type="file" id="photo" name="photo" accept="image/gif, image/png, image/jpeg")
    .form__group
      label(for="ingredients") Ingredients
      textarea(name="ingredients" id="ingredients" cols="60", rows="10")=(meal && meal.ingredients)
    .form__group
      label(for="description") Description
      input(type="text" id="description" name="description" value=(meal && meal.description))
    ul.reviews
      each review in [1, 2, 3, 4, 5]
        .review
          input(type="radio", name="review" value=(review) checked=(meal ? review === meal.review : review === 5))
          label(for="review") #{review}
    input(type="submit", value="Save" class="button")
    pre=(meal && JSON.stringify(meal, null, 2))
