extends index

block site
  .restaurants
    //-  temp for development
    each restaurant in restaurants
      a(href=`/${user.id}/${restaurant.slug}`)
        .restaurant__card()
          .photo-container
            img(src=`photos/${restaurant.photo}`)
          h2=restaurant.name
    each restaurant in restaurants
      a(href=`/${user.id}/${restaurant.slug}`)
        .restaurant__card()
          .photo-container
            img(src=`photos/${restaurant.photo}`)
          h2=restaurant.name
    each restaurant in restaurants
      a(href=`/${user.id}/${restaurant.slug}`)
        .restaurant__card()
          .photo-container
            img(src=`photos/${restaurant.photo}`)
          h2=restaurant.name
    //- pre #{restaurants && JSON.stringify(restaurants, null, 2)}