extends index

block site
  .restaurant
    .restaurant__header
      .container
        .restaurant__card
          .photo-container.single-container
            img(src=`/photos/${restaurant.photo}` class='single-photo')
      img.mapimage(src=`/maps/${restaurant.map}`, alt="")
    .restaurant__title
      h1.outlined.big=restaurant.name
    .restaurant__container
      .restaurant__menu
        .restaurant__tags
          ul
            each tag in restaurant.tags
              li
                i(class='fas fa-tags')
                p=tag
        ul.menu__options
          each item in utils.restaurantOptions
            li 
              a(href=`/${item.action}/${restaurant._id}`) 
                i(class=`fas ${item.icon}`)
      ul.restaurant__meals
        each meal in restaurant.meals
          .meal-card
            .options
              a(href=`/edit-meal/${meal.id}`) 
                i.outlined(class="fas fa-pen")
              i.outlined.delete-meal(class="fas fa-trash" data-id=meal.id)
            .photo
              img(src=`/photos/${meal.photo}`, alt="meal photo")
            .container
              .content
                h2.title.outlined=meal.name
                p.outlined Ingredients
                p=meal.ingredients
                p.outlined Description
                p=meal.description
              .meal-footer
                p.price #{meal.price.toFixed(2)}zł
                ul.stars
                  each _ in Array(meal.review)
                    li
                      i(class='fas fa-star')